{% load staticfiles %}
<!DOCTYPE HTML>
<html>

<head>
    <!-- coding : utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- cache : off -->
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">

    <!-- Lastest IE version -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- RWD -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page title -->
    <title>Linggle Translate - NLPLab</title>

    <meta name=“description” content="Linggle Translate is a MT system developed by NTHU NLPLab.">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" />
    <link rel="stylesheet" href="static/css/index/main.css" />
    <link rel="shortcut icon" href="static/img/favicon.png" />

    <!-- js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="static/js/index/main.js"></script>
    <script src="static/js/common.js"></script>

</head>

<body>
    {% csrf_token %}
    <div class="ui text container">

        <div class="ui horizontal divider"></div>

        <div class="ui sizer vertical">
            <div class="ui huge header centered">
                <div class="content">
                    Linggle Translate
                    <div class="sub header center aligned">Welcome to the new century of machine translation!</div>
                </div>
            </div>
        </div>

        <div class="ui horizontal divider"></div>

        <form class="ui form" onsubmit="return search();">
            <div id="search_bar" class="ui right action left icon fluid large input">
                <i class="search icon"></i>
                <input id="search_input" type="text" placeholder="Type something here...">
                <select class="ui compact selection dropdown">
                    <option selected="" value="all">Translate</option>
                    <option value="blinggle">BLinggle</option>
                    <option value="glinggle">GLinggle</option>
                </select>
              </div>
          </form>

        <div class="ui horizontal divider"></div>

        <div class="ui grid">
            <div class="four wide column">
                <div id="trans_menu" class="ui vertical fluid tabular menu">
                    <a class="item active">BLinggle</a>
                    <a class="item">GLinggle</a>
                    <a class="item">Bing</a>
                    <a class="item">Google</a>
                </div>
            </div>
            <div class="twelve wide stretched column">
              <div id="result_area" class="ui raised large blurring segments">
                  <div class="ui segment result" alt='blinggle'>&nbsp;</div>
                  <div class="ui segment result" alt='glinggle'>&nbsp;</div>
                  <div class="ui segment result" alt='bing'>&nbsp;</div>
                  <div class="ui dimmer">
                      <div class="ui text loader">Loading</div>
                  </div>
                  <div class="ui segment result" alt='google'>&nbsp;</div>
              </div>
            </div>
        </div>

        <!-- <div id="result_area" class="ui segments">
            <div class="ui segment">
                <a class="ui yellow top right attached label">Bing</a>
                <p class="result" alt="bing"></p>
            </div>
            <div class="ui segment">
                <a class="ui green top right attached label">BLinggle</a>
                <p class="result" alt="blinggle"></p>
            </div>
            <div class="ui segment">
                <a class="ui blue top right attached label">Google</a>
                <p class="result" alt="google"></p>
            </div>
            <div class="ui segment">
                <a class="ui red top right attached label">GLinggle</a>
                <p class="result" alt="glinggle"></p>
            </div>
        </div> -->

        <!-- <table class="ui very compact large red selectable unstackable table">
            <thead>
                <tr>
                    <th>Result</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody id="search-result">
                <tr>
                    <td colspan="2">
                        <p>Now type something English</p>
                    </td>
                </tr>
            </tbody>
        </table> -->

                <!--<div class="ui segment">
                    <div class="ui active dimmer">
                        <div class="ui text indeterminate loader">Processing</div>
                    </div>
                </div> -->
    </div>
</body>

</html>
